# Required
FAX_DOWNLOADER_EMAIL_USER=your_email@gmail.com
FAX_DOWNLOADER_EMAIL_PASS=your_imap_password

# Optional
FAX_DOWNLOADER_AUTH_MODE=password
# For OAuth mode only:
# FAX_DOWNLOADER_OAUTH_CLIENT_SECRET_FILE=gmail_client_secret.json
# FAX_DOWNLOADER_OAUTH_TOKEN_FILE=gmail_token.json
FAX_DOWNLOADER_IMAP_SERVER=imap.gmail.com
FAX_DOWNLOADER_MAILBOX=inbox
FAX_DOWNLOADER_SEARCH_CRITERIA=(UNSEEN FROM "RingCentral" SUBJECT "New Fax Message from")
FAX_DOWNLOADER_SAVE_FOLDER=C:\ProgramData\DMELogic\New Rx
FAX_DOWNLOADER_MARK_DELETED=1
FAX_DOWNLOADER_LOG_LEVEL=INFO
